/* Calculator screen ================ */

.calculator {
  padding-top: var(--section-padding);
  padding-bottom: 30px;
  background-color: var(--color-primary-lightest);
  background-image: linear-gradient(to top, var(--color-primary-lightest) 0%, var(--color-primary-lightest) 28%, var(--color-white) 100%);
}

.calculator__column {

  @media (--tablet-max) {

    + .calculator__column {
      margin-top: 30px;
    }
  }
}

.calculator__block {
  min-height: 395px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: -2px 2px 13px rgba(0, 0, 0, .13);

  @media (--laptop-small-max) {
    padding: 30px;
  }

  @media (--tablet-max) {
    min-height: 140px;
    text-align: center;
  }

  @media (--tablet-small-max) {
    padding: 20px;
  }
}

.calculator__block--result {
  display: flex;
  align-items: flex-end;
  padding-left: 40px;
  padding-right: 40px;
  background-image: url("../images/static/calculator-background.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  @media (--laptop-small-max) {
    background-position: 70% 0;
  }

  @media (--tablet-max) {
    justify-content: center;
    background-position: right -15px;
    background-size: 320px;

    .calculator__content {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      opacity: .6;
    }
  }
}

.calculator__range {
  margin-bottom: 40px;

  + .calculator__range {
    margin-top: 80px;
  }
}

.calculator-result__title {
  margin-bottom: 10px;
  font-weight: var(--text-font-weight-bold);
}

.calculator-result__value {
  margin-bottom: 25px;
  font-family: var(--font-lora);
  font-size: 45px;
  font-weight: var(--text-font-weight-bold);
  color: var(--color-primary-light);

  @media (--laptop-small-max) {
    font-size: 30px;
  }

  @media (--tablet-max) {
    margin-bottom: 15px;
    font-size: 25px;
  }
}

.calculator-result__month {
  font-size: 24px;

  @media (--laptop-small-max) {
    font-size: 20px;
  }
}

.calculator-result__label {
  margin-bottom: 30px;
  font-size: var(--text-size-small);

  @media (--tablet-max) {
    margin-bottom: 15px;
  }
}

/* ================ end calculator screen */
