/* Stages discovery screen ================ */

.stages-discovery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/static/stages-discovery-background.jpg");
  background-position: center -30%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (--desktop-min) {
    background-position: center 20%;
  }

  @media screen and (max-width: 600px) {
    position: relative;
    background-position: center -190px;

    &::after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: linear-gradient(0deg, #fffcfc 70%, #ffffff 50%);
      z-index: -1;
    }
  }
}

.stages-discovery__steps-image {
  display: block;
  padding-left: 30px;

  @media screen and (max-width: 600px) {
    max-width: 270px;
    padding-left: 0;
    padding-top: 30px;
    margin: 0 auto;
  }
}

/* ================ end stages discovery screen */
