/* Header ================ */

:root {
  --header-height: 92px;

  @media (--laptop-max) {
    --header-height: 62px;
  }

  @media (--tablet-max) {
    --header-height: 50px;
  }
}

.header {
  --header-background-color: var(--color-white);

  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-background-color);
  z-index: var(--z-index-header);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  flex-shrink: 0;
}

.logo {
  width: 185px;

  @media (--laptop-max) {
    width: 150px;
  }

  @media (--tablet-max) {
    width: 20px;
  }
}

.logo__seo-text {
  display: none;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo__image {
  width: 100%;
}

.header__navigation {
  flex-grow: 1;
  align-self: stretch;
}

.header__contact-block {
  flex-shrink: 0;
  margin-left: auto;

  + .header__button-menu {
    margin-left: 20px;
  }
}

.header__button-menu {

  @media (--laptop-small-min) {
    display: none;
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.contact-us__link-phone {
  display: flex;
  align-items: center;
  font-family: var(--font-pt-sans);
  font-weight: var(--text-font-weight-bold);
  text-decoration: none;
  color: var(--color-black-light);

  .icon {
    --icon-size: 19px;

    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: 10px;
    color: var(--color-primary);

    @media (--laptop-max) {
      --icon-size: 14px;
      margin-right: 5px;
    }
  }

  @media (--laptop-max) {
    font-size: 14px;
  }
}

.contact-us__link-popup {
  font-family: var(--font-pt-sans);
  font-size: 14px;
  text-decoration: underline;
  color: var(--color-black-light);

  @media (--laptop-max) {
    font-size: 12px;
  }

  &:hover {
    text-decoration: none;
  }
}

/* ================ end header */
