include ../../../components/title-section/title-section

mixin youtubeItem()
  //- item
  .js-youtube-carousel__item.youtube-list__item(data-aos="fade-up")
    .youtube-list__video
      img(src="images/content/youtube-video.jpg" alt="Видео: Русский баллет")
      button(class="js-modal-btn youtube-list__button" data-video-id="a0tvUx6vmnU")
        +icon("youtube")

// reviews screen
section#reviews.reviews
  +titleSection("Довольные клиенты о нас", "Отзывы", "title-section--centered reviews__title")
  .js-youtube-carousel.youtube-list
    //- item
    +youtubeItem()
    //- item
    +youtubeItem()
    //- item
    +youtubeItem()
    //- item
    +youtubeItem()
    //- item
    +youtubeItem()
