include ../../../components/title-section/title-section
include pseudo-input/pseudo-input

// economic screen
section#economic.economic
  .container.economic__container
    +titleSection("Экономика", "Экономика", "title-section--centered")
    .economic__list.row
      .economic__column.col-md-6
        .economic__count.count-calculate
          h3.count-calculate__title(data-aos="fade-up") Паушальный взнос, тысяч руб.
          +pseudoInput(
            "Вся Россия и Снг",
            "280 000 *",
            "count-calculate__item"
          )
          +pseudoInput(
            "Санкт-Петербург",
            "330 000 *",
            "count-calculate__item"
          )
          +pseudoInput(
            "Москва",
            "380 000 *",
            "count-calculate__item"
          )
          .count-calculate__label(data-aos="fade-up") * Размер паушального взноса зависит от численности населения
      .economic__column.col-md-6
        .economic__count.count-calculate
          h3.count-calculate__title(data-aos="fade-up") Роялти, тысяч руб.
          +pseudoInput(
            "Вся Россия и Снг",
            "280 000 *",
            "count-calculate__item"
          )
          +pseudoInput(
            "Москва",
            "380 000 *",
            "count-calculate__item"
          )
          .count-calculate__label(data-aos="fade-up") * Фиксированный роялти при заключении договора до <b>01.09.2019 г.</b>
